.informacion{
}
img{
  width: 100%;
  height: 20rem;
}
.muchosIntereses{
  border: black 3px solid;
}
.pocosIntereses{
  border: black 1px solid;
}
.contentFixer{
  width: 100%;
  text-align: center;
  margin: 3rem;
  background-color: #AC32E4;
}
