<div class="col-lg-4 col-md-6 col-sm-12" [routerLink]="['/info-usuario',persona.codigo]">
  <img src="{{persona.foto}}" alt="{{persona.nombre}} ">
  <div class="informacion">Nombre: {{persona.nombre}} {{persona.votos}} <!--sustituir por una imagen-->♥</div>
  <div class="informacion">Edad: {{persona.edad}}</div>
</div>

<!--
<mat-card class="col-lg-4 col-md-6 col-sm-12" [routerLink]="['/info-usuario',persona.codigo]">
  <mat-card-header>
    <mat-card-title>{{persona.nombre}}</mat-card-title>
    <mat-card-subtitle>{{persona.edad}} años</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{persona.foto}}" alt="{{persona.nombre}}">
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>--->
