
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home']">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item [routerLink]="['/filtrar']">
    <mat-icon>filter_list</mat-icon>
    <span>Filtrar</span>
  </button>
  <button mat-menu-item [routerLink]="['/info-usuario',-2]">
    <mat-icon>person_pin</mat-icon>
    <span>Perfil</span>
  </button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
